@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Hello world!!!</p>
    <h2>Here is some more text for another change</h2>
</div>
